# Python
__pycache__
*.pyc
.pytest_cache

# Editors
.idea
.vscode

# Coverage
.coverage
htmlcov/

rose_project.egg-info
dist

# Classroom setup
classroom/credentials.json
classroom/*.csv
classroom/token.pickle
