[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

flake8 = "*"
pytest = "*"
pytest-coverage = "*"
pytest-timeout = "*"


[packages]

autobahn = "*"
twisted = "*"


[requires]

python_version = "2.7"
